:root {
	--arva-green: #7ac61d;
	--disabled-button: #888;
	--disabled-button-text: #ccc;
	--error-box: #fdc4c4;
	--error-box-border: red;

	--widget-padding: 10px;
	--widget-margin: 5px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.spacer {
	width: 10vw;
}

button {
	color: white;
	background-color: var(--arva-green);
	border: 0;
	border-radius: 5px;
}

button[disabled] {
	color:var(--disabled-button-text);
	background-color: var(--disabled-button);
}

input, button, label, select {
	padding: var(--widget-padding);
	margin: var(--widget-margin);
}

.errorBox {
	display: inline-block;
	margin: 5px;
    padding: 5px;
    font-size: .85rem;
	font-style: italic;
    line-height: 1.5;
	background-color: var(--error-box);
	border: 2px solid;
	border-radius: 5px;
	border-color: var(--error-box-border);
}